[user]
	name = tobi
	email = 76791368+2bits2@users.noreply.github.com
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential]
	helper = /etc/profiles/per-user/muitilingualism/bin/gh auth git-credential
